##### Name: Ankita Kumari | Date:20240902

##### 1.Understanding Variables  
##### (a)Define a variable in Python. Provide an example of how to create a variable that stores your name.

#### Variables store a value from one part of the program so that it can be used in other parts of the program.It should not be from the reserved keywords. It is dynamically typed

In [ ]:
# Create a variable that store my name
my_name = "Ankita Kumari"  #Here,the assignment operator is used.
print(my_name)

Ankita Kumari

##### (a)Create variables of the following types in Python:  1. Integer  2. Float  3. String  4. Boolean

In [ ]:
int= 23
print(int)

float= 2.45
print(float)

str= 'This is my first Python assignment'
print(str)

23
2.45
This is my first Python assignment

In [ ]:
#Boolean
num1= 4
num2= 7
bool= num1<num2
print(bool)

True

##### (b)Write a Python script to display the type of each variable you created.

In [ ]:
int= 23
type(int)

int

In [ ]:
float= 2.45
type(float)

float

In [ ]:
str= 'This is my first Python assignment'
type(str)

str

In [ ]:
num1= 4
num2= 7
bool= num1<num2
type(bool)

bool

#### 3.Arithmetic Operators  
#### (a)Explain the following arithmetic operators with examples:  
#### 1.Addition ('+')  
#### 2.Subtraction ('-')
#### 3.Multiplication ('*')  
#### 4.Division ('/')
#### 5.Floor Division ('//')
#### 6.Modulus ('%')  
#### 7.Exponentiation ('**')

##### Addition: The '+' operator adds two numbers together.

In [ ]:
num1= 6
num2= 19
sum= num1+num2     # '+" operator is adding two operands
print(sum)

25

#### Subtraction: The '-' operator subtracts the second number from the first number.

In [ ]:
num1= 6
num2= 19

sub= num2-num1
print(sub)

13

#### Subtraction: The '-' operator subtracts the second number from the first number.

In [ ]:
num1= 6
num2= 19

Mul= num1*num2
print(Mul)

114

#### Division: The '/' operator divides the first number by the second number and returns a floating-point result.

In [ ]:
num1= 6
num2= 19

div= num2/num1
print(div)

3.1666666666666665

#### Floor Division: The '//' operator divides the first number by the second number and returns the largest integer less than or equal to the result(i.e., it rounds down).

In [ ]:
num1= 6
num2= 19

fd= num2//num1
print(fd)

3

##### Modulus: The '%' operator returns the remainder of the division of any two numbers.

In [ ]:
num1= 6
num2= 19

Mod= num2%num1   # '%' operator is applied between two operands 6 and 9 which executes the remainder 1.
print(Mod)

1

#### Exponentiation: The '**' operator raises the first number to the power of the second number.

In [ ]:
num1= 6
num2= 19

Exp= num1**num2
print(Exp)

609359740010496

#### (b)Write a Python script to calculate the area of a rectangle using variables 'length' and 'width' with values 5 and 10, respectively.Use the multiplication operator'''

In [ ]:
L= eval(input("Enter length"))
W= eval(input("Enter width"))
Area= L*W
print('The area of rectangle', Area)

The area of rectangle 50

#### Comparison and Logical Operators  
#### a.Explain the following comparison operators with examples:
#### 1.Equal to ('==')
#### 2.Not equal to ('!=')
#### 3.Greater than ('>')
#### 4.Less than ('<')
#### 5.Greater than or equal to ('>=')
#### 6.Less than or equal to ('<=')

#### Equal to ('=='): This operator checks if the values of two operands are equal. checks if values are the same.

In [ ]:
num1= 4
num2= 4
result= (num1==num2)
print(result)

True

In [ ]:
num3= 3
num4= 5
result= (num4==num3)
print(result)

False

#### Not equal to('!='): This operator checks if the values of two operands are not equal.checks if values are different.

In [ ]:
num3= 3
num4= 5
result= (num3!=num4)
print(result)

True

In [ ]:
num1= 4
num2= 4
result= (num1!=num2)
print(result)

False

#### Greater than ('>'): This operator checks if the value of the left operand is greater than the value of the right operand. checks if the left value is greater.

In [ ]:
num3= 3
num4= 5
result= (num4>num3)
print(result)

True

In [ ]:
num3= 3
num4= 5
result= (num3>num4)
print(result)

False

#### Less than ('<'):  This operator checks if the value of the left operand is less than the value of the right operand.

In [ ]:
num3= 3
num4= 5
result= (num4<num3)
print(result)

False

In [ ]:
num3= 3
num4= 5
result= (num3<num4)
print(result)

True

#### Greater than or equal to ('>='): This operator checks if the value of the left operand is greater than or equal to the value of the right operand.

In [ ]:
num3= 3
num4= 5
result= (num3>=num4)
print(result)

False

In [ ]:
num3= 3
num4= 5
result= (num4>=num3)   # one condition is satisfied
print(result)

True

#### Less than or equal to ('<='):This operator checks if the value of the left operand is less than or equal to the value of the right operand.

In [ ]:
num3= 3
num4= 5
result= (num4<=num3)
print(result)

False

In [ ]:
num3= 3
num4= 5
result= (num3<=num4)
print(result)

True

#### (b)Using logical operators ('and', 'or', 'not'), write a Python script that checks if a number is positive and even.

In [ ]:
num= int(input("Enter a number: "))
if (num!=0 and num >0):
   if (num%2==0):
     print("Number is positive and even")
   elif (num%2 !=0):
     print("Number is positive and odd")
   else:
     print("Number is negative")
else:
     print("Number is Zero")

Enter a number:  250

Number is positive and even

#### 5.Type Casting in Python

#### (a).What is type casting? Explain the difference between implicit and explicit type casting with examples.

#### Type casting: Type casting, also known as type conversion, is the process of converting a variable from one data type to another. Converting from one object type to a different object type.

#### Implicit Type Casting (Automatic Type Casting): This type of casting is automatically handled by the programming language. It occurs when you  mix  different data types in an operation, and the language implicitly converts one type to another to ensure compatibility.

In [ ]:
int= 6
float= 4.5
result= int+float
print(result)

10.5

####  In this example, int(an integer) is implicitly converted to a float before performing the addition with float. The result is a float, which Python automatically handles.

#### Explicit Type Casting (Manual Type Casting): This type of casting is performed manually by the programmer using type conversion functions or methods.It gives you control over the conversion process.

In [ ]:
num1= 345
num2= '705'
print("Type of num1:",type(num1))
print("Type of num2:",type(num2))
print("Type of num2 after conversion from str to int:",type(int(num2)))
sum = num1 + int(num2)
result= sum
print("Result:",result)
print("Data Type of result:",type(result))

Data Type of num1: <class 'int'>
Data Type of num2: <class 'str'>
Data Type of num2 after explicit type conversion from str to int: <class 'int'>
Result: 1050
Data Type of result: <class 'int'>

#### (b).Write a Python script that:
#### 1.Converts a float to an integer.
#### 2.Converts an integer to a string.
#### 3.Converts a string to a float'''

In [ ]:
#Convert a float to an integer
float_value= 4.67
integer_value= int(float_value)
print("Original float value", float_value)
print("Converted integer value",integer_value)

Original float value 4.67
Converted integer value 4

In [ ]:
 # Convert an integer to a string

integer_value = 80
String_value = str(integer_value)
print("Integer to String Conversion:",String_value)
print(type(String_value))

Integer to String Conversion: 80
<class 'str'>

In [ ]:
string = "Go with the flow"
# to_Float = float(string) ## This conversion isn't possible and it will throw an error --> (TypeError: 'float' object is not callable)

#### 6-Practical Exercise: Mini Calculator  
 #### Write a Python script that asks the user to input two numbers and then:
#### 1. Add the two numbers and print the result.
 #### 2. Subtracts the second number from the first and print the result.
 #### 3. Multiplies the two numbers and prints the result.
 #### 4. Divides the first number by the second and print the result (handle division by zero).
 #### 5. Converts the sum of the numbers to a string and prints the type of the result.'''

In [ ]:
num1= int(input("Enter the first number"))
num2= int(input("Enter the second number"))
sum= num1+num2
sum_result= sum
print("Sum of two numbers:",sum_result)

sub= num1-num2
sub_result=sub
print("Subtraction of two numbers:",sub_result)


mul= num2*num1
mul_result= mul
print("Multiplication of two numbers:",mul_result)

#Division
if num2!=0:
    div_result= num1/num2
    print("Division value:", div_result)
else:
    print("Zero division error")


#convert the sum to a string and print the type of result
final_result= str(sum_result)
print("Type of sum_result:", type(final_result))

Sum of two numbers: 56
Subtraction of two numbers: 36
Multiplication of two numbers: 460
Division value: 4.6
Type of sum_result: <class 'str'>